{% extends 'base.html' %}

{% block content %}
  <h5 class="text-light"><i class="fa-regular fa-clock"></i> Recent</h5><br>
  <div class="row">
    {% for article in articles %}
    <!--card 형식으로 context 보여주기-->
    <div class="card text-bg-dark mb-4 mx-auto" style="max-width: 18rem;">
      <div class="card-body">
        <a href="{% url 'articles:detail' article.pk %}" class="card-title">{{ article.title }}</a>
        <h6 class="card-subtitle mb-2 text-muted">문제 번호</h6>
        <p class="card-text">{{ article.created_at }}</p>
        <hr>
        <p class="card-text">작성자 :</p>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
