{% load static %}
<link rel="stylesheet" href="{% static 'css/font.css' %}" >

<nav class="d-flex navbar navbar-expand">
  <div class="container">
    <!--홈-->
    <a class="navbar-brand text-light" style="font-family: '777Balsamtint;'" href="{% url 'articles:index'%}">&#x1F351 pboard</a>
    <!--홈 end-->
    <!--네브바 우측 콘텐츠-->
    <div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <!--serch 이동-->
          <li class="nav-item">
            <a class="nav-link active text-light" href="#">
              <i class="fa-solid fa-magnifying-glass"></i>
            </a>
          </li>
          <!--search end-->
          
          <!--로그인 상태-->
          {% if request.user.is_authenticated %}
          <li class="nav-item ms-3">
            <!--글쓰기 버튼-->
            <a class="nav-link active text-light" href="{% url 'articles:create' %}">
              <i class="fa-regular fa-pen-to-square"></i>
            </a>
          </li>
          <!--글쓰기 버튼 end-->
          <!--개인정보-->
          <li class="nav-item ms-3">
            <a class="nav-link active text-light" href="{% url 'accounts:update'%}">
              <i class="fa-regular fa-circle-user"></i>
            </a>
          </li>
          <!--개인정보 end-->

          <!--로그인 상태 X-->
          {% else %}
          <li class="nav-item ms-3">
          <!--로그인-->
            <!-- login.html include-->
            <a class="nav-link active text-light" href="{% url 'accounts:login'%}">
              <i class="fa-solid fa-arrow-right-to-bracket"></i>
            </a>
          <!--로그인 end-->  
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <!--네브바 우측 콘텐츠 end-->
</nav>